<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager UI</title>

    <style>
        p.flash{
            color:red;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

</head>
<body>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-12">
        <h1>Manager UI</h1>
        <form method="POST" action="/logout">
            <input class="btn btn-default" type="submit" value="Log out">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="flash">{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
</div>


<div class="row">
    <div class="col-sm-4 controls">
        <h3>Delete all data</h3>
        <form method="POST" action="/delete_all_data">
            <input class="btn btn-default" type="submit" value="Delete data">
        </form>
        
        <h3>Manually control worker pool</h3>
        <div class="row">
            <div class="col-sm-4">
                <form class="form worker-form" method="POST" action="/add/1">
                    <div class="form-group">
                        {% if params.enabled %}
                        <input class="btn btn-default" type="submit" value="Add 1 worker" disabled>
                        {%else%}
                        <input class="btn btn-default" type="submit" value="Add 1 worker">
                        {%endif%}
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <form class="form worker-form" method="POST" action="/remove/1">
                    <div class="form-group">
                        {% if params.enabled %}
                        <input class="btn btn-default" type="submit" value="Remove 1 worker" disabled>
                        {%else%}
                        <input class="btn btn-default" type="submit" value="Remove 1 worker">
                        {%endif%}
                    </div>
                </form>
            </div>
        </div>

        <h3>Update auto-scaling parameters </h3>

        <form method="POST" action="/update_params">
            <div class="form-group">
                {% if params.enabled %}
                <div class="radio">
                    <label><input type="radio" name="auto_scaling" value="off">Manual Scaling </label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="auto_scaling" value="on" checked>Auto Scaling</label>
                </div>
                {%else%}
                <div class="radio">
                    <label><input type="radio" name="auto_scaling" value="off" checked>Manual Scaling</label> 
                </div>
                <div class="radio">
                    <label><input type="radio" name="auto_scaling" value="on">Auto Scaling</label>
                </div>
                {%endif%}
            </div>
            <div class="form-group">
                <label>CPU threshold for growing the worker pool</label> 
                <input class="form-control" type="text" name="util_for_add" value="{{params.util_for_add}}">
            </div>
            <div class="form-group">
                <label>CPU threshold for shrinking the worker pool</label>
                <input class="form-control" type="text" name="util_for_remove" value="{{params.util_for_remove}}">
            </div>
            <div class="form-group">
                <label>Ratio by which to expand the worker pool
                    (e.g., a ratio of 2 doubles the number of workers).</label>
                <input class="form-control" type="text" name="add_ratio" value="{{params.add_ratio}}">
            </div>
            <div class="form-group">
            <label>Ratio by which to shrink the worker pool <br>
                (e.g., a ratio of 4 shuts down 75% of the current workers).</label>
            <input class="form-control" type="text" name="remove_ratio" value="{{params.remove_ratio}}">
            </div>
            <input type="submit" class="btn btn-default" value="Update parameter">
        </form>
    </div> <!--end sidebar-->

    <div class="col-sm-8">
        <h3>Workers</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Worker name</th>
                    <th>Instance Id</th>
                    <th>Instance State</th>
                    <th>Status Check</th>
                    <th>Load Balancer Health Check</th>
                    <th>CPU Utilization (%)</th>
                </tr>
            </thead>
            <tbody>
                {% for info in instance_info.values() %}
                {%if info.state_name != "terminated"%}
                <tr>
                    <td>{{info.name}}</td>
                    <td>{{info.id}}</td>
                    <td>{{info.state_name}}</td>
                    {% if info.status2_2 %}
                    <td>Passed Status checks</td>
                    {% else%}
                    <td>Not passed status checks</td>
                    {% endif %}
                    <td>{{info.health_check_status}}</td>
                    <td id='{{info.id}}'>{{info.cpu_util}}</td>
                </tr>
                {%endif%}
                {%endfor%}
            </tbody>
        </table>

        {% for info in instance_info.values() %}
        {%if info.state_name != "terminated"%}
        <img src="{{url_for('get_graph', id=info.id)}}">
        {%endif%}
        {%endfor%}
    </div> <!--end tables div-->
</div> <!--end row-->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{url_for('static', filename='main.js')}}"></script>




</body>
</html>